# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
venv311/
.venv/
.env
env/

# Database & logs
*.db
*.log
scratch/
.pytest_cache/

# Git files
.git
.gitignore

# OS files
.DS_Store

# Build artefacts
*.egg-info/
build/

# Docker artefacts
Dockerfile
.dockerignore
