fastapi
uvicorn
sqlalchemy
alembic
psycopg[binary]
psycopg2-binary
pydantic
python-jose
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
email-validator
python-multipart
httpx
pgvector
pydantic-settings
pytest
minio
redis>=5.0,<6.0
celery>=5.4,<5.5
google-auth
requests
